@import '@/styles/_responsive.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  background-color: rgb(var(--semi-dark-blue-rgb));
  padding: 0 4.267vw;
  margin-bottom: 24px;

  @include respond-to-md {
    height: 72px;
    width: calc(100% - (2 * 3.255vw));
    margin: 24px auto 32px;
    border-radius: 8px;
  }
}

.logo {
  position: relative;
  height: 20px;
  width: 25px;

  @include respond-to-md {
    width: 32px;
    height: 25px;
  }
}

.avatar {
  position: relative;
  height: 24px;
  width: 24px;

  @include respond-to-md {
    width: 32px;
    height: 32px;
  }

  @include respond-to-xl {
    width: 40px;
    height: 40px;
  }
}