.header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  background-color: rgb(var(--semi-dark-blue-rgb));
  padding: 0 4.267vw;
  margin-bottom: 24px;
}

