@import '@/styles/_responsive.scss';

.card { 
  position: relative;
  width: 43.733vw;

  @include respond-to-md {
    width: 28.646vw;
  }

  @include respond-to-xl {
    width: calc((100% / 4) - 40px);
  }

  &__img {
    position: relative;
    height: 110px;
    border-radius: 8px;
    overflow: hidden;
    
    @include respond-to-md {
      height: 140px;
      
      &:hover {
        .card__hovered {
          display: flex;
        }
      }
    }
  
    @include respond-to-xl {
      height: 174px;
    }
  
    @media (min-width: 1920px) {
      height: 240px;
    }
  }

  &__hovered {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgb(0 0 0 / 50%) 0%, rgba(0, 0, 0, 0.50) 100%),  #d3d3d329 50% / cover no-repeat
  }

  &__play {
    background-color: #ffffff3b;
    width: 117px;
    height: 48px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    padding-left: 9px;
    font-size: 18px;
    font-weight: 400;
  }
  
  &__iconPlay {
    margin-right: 18px;
  }

  &__bookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    height: 32px;
    right: 8px;
    width: 32px;
    border-radius: 50%;
    background-color: rgba(var(--semi-dark-blue-rgb), 0.5);
    transition: all 320ms ease-in-out;
  
    &:hover {
      opacity: 0.8;
      transform: scale(1.02);
    }
  }

  &__texts {
    margin-top: 8px;
  }

  &__movieDetails { 
    display: flex;
    margin-bottom: 4px;
    align-items: center;
  }
  
  &__detail {
    font-size: 12px;
    font-weight: 300;
    display: flex;
    align-items: center;
  
    &:not(:last-child) { 
      &:after {
        content: '';
        width: 2px;
        height: 2px;
        background-color: white;
        opacity: 0.5;
        border-radius: 50%;
        margin: 0 6px;
        display: block;
      }
    }
  }
  
  &__categoryIcon {
    margin: 0px 4px -0.9px 0;
  }
  
  &__title {
    font-size: 14px;
    font-weight: 400;
  }


  &--trending { 
    width:  64vw;
  
    @include respond-to-md {
      width: 61.197vw;
    }
  
    @include respond-to-xl {
      width: 470px;
    }
  
    &:not(:last-child) {
      margin-right: 16px;

      @include respond-to-md {
        margin-right: 40px;
      }
    }

    .card__img {
      height: 140px;
      
      .card__trendingImg {
        filter: brightness(57%);
      }
    
      @include respond-to-md {
        height: 230px;
      }
    }

    .card__texts {
      position: absolute;
      bottom: 16px;
      left: 16px;

      .card__title {
        font-size: 16px;
      }

      .card__detail {
        font-size: 14px;
      }
    }
  }
}
