$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin respond-to-sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin respond-to-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin respond-to-lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin respond-to-xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}