@import '@/styles/_responsive.scss';

.nav-item {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  fill: var(--second-color-rgb);

  @include respond-to-xl {
    &:hover {
      fill: var(--red-rgb);
    }
  }

  svg {
    transform: scale(0.8);

    @include respond-to-md {
      transform: unset;
    }
  }

  @include respond-to-md {
    width: 20px;
    height: 20px;
  }

  @include respond-to-xl {
    display: block;
    margin: 0 auto;
  }


  &:not(:last-child) {
    @media (max-width: 1200px) {
      margin-right: 24px;
    }

    @include respond-to-xl {
      margin-bottom: 40px;
    }
  }
}