@import '@/styles/_responsive.scss';

.search {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  position: relative;

  @include respond-to-xl  {
    padding-right: 36px;
  }
  
  &:focus{
    outline: none;
  }

  &__icon {
    position: relative;
    width: 24px;
    height: 24px;
  
    @include respond-to-md {
      width: 32px;
      height: 32px;
    }
  }
  
  &__input {
    margin-left: 14px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    color: white;
    border: none;
    width: 100%;
    caret-color: var(--red-rgb);
    position: relative;
  
    @include respond-to-md {
      font-size: 24px;
    }

    &:focus{
      outline: none;
      border-bottom: 1px solid var(--second-color-rgb);
    }
  }
}
