// filter: brightness(0) invert(1);
@import '@/styles/_responsive.scss';

.home {
  @include respond-to-xl {
    display: flex;
  }
}

.main {
  padding: 0 var(--padding-mob);

  @include respond-to-md {
    padding: 0 var(--padding-tab);
  }

  @include respond-to-xl {
    padding: 64px 36px 0 0;
    max-width: calc(100vw - 168px);
    width: 100%;
  }
}

